@media screen and (max-width:576px){
    .navbar{
        .navbar-nav{
            li a{
                margin-right: 50px;
            }
           
        }
        .row{
            .container-checkup{
                padding-top: 20px;
                width: 100%;
                button{
                    width:100%;
                }
            }
        }
        
    }
    
}
// NAV
.icon{
    img{
        width: 10px;
    }
    p{
        font-size: 25px;
        font-weight: 800;
        color: #FFFBFA;
    }
}
// NAV LIST
body{
    font-family: 'Varela Round', sans-serif;
    background-color: #FFFBFA;
    .navbar{
        background-color: #00BD9D!important;
        
        .navbar-nav{
            .nav-item {
                justify-content: space-between;
                a{

                    p{
                        color:#FFFBFA;
                        font-size: 20px;
                        font-weight: 500;
                        transition: 0.2s;
                    }
                    p:hover{
                        color:rgb(139, 139, 149);
                    }
                }
                
               
            }
        }
        .container-checkup{
            width: 12%;

        }
    }
    .header{
        background-color: #e1dac06b;
        border-radius: 10px 11px;
        margin: 60px;
        margin-bottom:0;
        h1{
        
            font-size: 50px;
        }
        
        .front-page{
            
            padding-top: 10px;
            
           .front-page-img{
               img{
                border-radius: 15px 10px;
               }
           }
        }
    }
    // ICONS
    .container-icons{

        .div-icons{
            margin-left:61px;
            margin-right:61px;
            margin-top: 0;
            padding-bottom: 30px;
            .div-icon-item{
                
                h3{
                    word-wrap: break-word;
                    font-size: 15px;
                }
            }
        }
    }
    // CAROUSEL
    .carousel-row{
        border-radius: 10px 10px;
        border: solid 10px rgb(79, 71, 71);
        .carousel-container{
        
            .carousel{
                position: relative;
                border-radius: 10px 10px;
                .carousel-inner{
                    .carousel-caption{
                        position: absolute;
                        margin-bottom: 0;
                        background-color: #fdf9f9;
                        opacity: 0.7;
                        border-radius: 10px 10px;
                        h5{
                             color: rgb(12, 11, 11); 
                             font-size: 55px; 
                             font-weight: 500;
                             
                         }
                         p{
                             color: rgb(3, 3, 3); 
                             font-weight: 600;
                             
                         }
                    }
                   
                }
            }
        }
    }
    // CAROUSEL SLUT
    .site-description{
        margin:20px;
        margin-left: 40px;
        width: 500px;
    }
    .jumbotron{
        h1{
            color: #4f4f4f;
            font-size: 50px;
            font-weight: 600;
        }
        p{
            color: #4f4f4f;
        }
        .jumbotron-img{
            img{
            width: 100%; 
            height: 100%; 
            border-radius: 10px 10px;
            }
            
        }
        .jumbtron-text{
            h2{
                color: #4f4f4f!important;
            }
            
        }
        .jumbotron-icon{
            text-align: center;
            font-weight: 600;
           .text{
                p{
                    padding-top: 30px;
                }
           }
        }
        
    }
    
    // NEXT.PAGE
    .cards{
        margin:0;
        padding: 30px;
        justify-content: space-between;
        .item{
            border: solid rgba(78, 75, 75, 0.156) 7px;
            h5{
                font-weight: 600;
            }
            .item-text{
                padding-top: 20px;
            }
            img{
                
                width: 100%;
                border-radius: 10px 10px;
            }
        }
}
    
}






